@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;700&display=swap');

.App {
  overflow-x: hidden;
  max-width: 100%;
}

.navbar {
  background-color: #C0DDE7;
  max-width: 100%;
}

.navbar-item:hover {
  background-color: #C0DDE7;
}

.navbar a {
  font-size: 20px;
  color: #3B6280;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

#collasible-nav-dropdown {
  margin-right: 4vh;
}

.ArticleCarousel {
  margin-top: 60px;
  margin-bottom: 60px;
}

.carousel {
  width: 1000px;
  margin: auto;
}

.ArticleCarousel h3 {
  font-weight: bold;
  text-shadow: -1px -1px black;
}

.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: white;
}

.carousel-indicators .active {
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  background-color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;

}

#mental_health_article {
  text-align: left;
  margin-left: -120px;
  margin-top: 800px;
  margin-bottom: -30px;
  width: 65%;
}

#college_life_article {
  margin-left: -630px;
  margin-top: 800px;
  margin-bottom: -30px;
}

#covid_article {
  margin-left: 250px;
  margin-top: -350px;
  margin-bottom: 0px;
  width: 100%;
}

.header {
  max-width: 100%;
  padding: 0;
  display: block;
  margin: 0 auto;
}

.page_header {
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1 {
  margin-top: 0px;
  padding-top: -50px;
  margin-left: 20vh;
  margin-right: auto;
  font-weight: bold;
}

p {
  margin-left: 25vh;
  margin-right: 25vh;
  font-size: 25px;
}

p, a, h1, h3, h5 {
  font-family: 'Hind', sans-serif;
}

.Footer {
  background-color: #C0DDE7;
  padding: 3px;
  margin: 0px;
  width: 100%;
  text-align: center;
}

.Footer .navbar {
  background-color: #C0DDE7;
}

.row {
  width: 70%;
  margin-left: 20vw;
}

.column {
  float: left;
  width: 20%;
  padding-left: -50px;
  padding-right: -50px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.Icons p {
  color: #6E6E6E;
  width: 70%;
  text-align: center;
  margin-left: -3.5vw;
}



Button {
  color: #3B6280;
}